# SUPABASE CONFIGURATION
# Dapatkan URL dan Anon Key dari Supabase Dashboard -> Settings -> API
NEXT_PUBLIC_SUPABASE_URL= 
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY= s

# MIDTRANS CONFIGURATION
# Dapatkan Server Key dan Client Key dari Midtrans Dashboard -> Settings -> Access Keys
MIDTRANS_SERVER_KEY=your-midtrans-server-key
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY=your-midtrans-client-key

# Catatan: Untuk testing gunakan mode Sandbox. 
# Jika Sandbox, ubah endpoint client-side script Midtrans ke sandbox.
